{% extends 'base.html' %}

{% block title %}
Password Changed - NexCart
{% endblock %}

{% block content %}

{% load static %}
<div class="auth-container">

    <div class="auth-card">

        <img src="{% static 'images/logo.jpeg' %}" alt="NexCart" class="auth-logo">

        <div class="auth-icon success">
            ✓
        </div>

        <h1>Password Changed!</h1>

        <p class="auth-subtitle">
            Your password has been successfully changed.
        </p>

        <a
            href="{% url 'login' %}"
            class="auth-button"
        >
            Login Now
        </a>

    </div>

</div>

{% endblock %}