{% extends 'base.html' %}

{% block title %}
Check Your Email - NexCart
{% endblock %}

{% block content %}

{% load static %}
<div class="auth-container">

    <div class="auth-card">

        <img src="{% static 'images/logo.jpeg' %}" alt="NexCart" class="auth-logo">

        <div class="auth-icon info">
            ✉️
        </div>

        <h1>Check Your Email</h1>

        <p class="auth-subtitle">
            If an account exists with this email,
            you will receive a password reset link.
        </p>

        <a
            href="{% url 'login' %}"
            class="auth-button"
        >
            Back to Login
        </a>

    </div>

</div>

{% endblock %}